<?xml version="1.0" encoding="utf-8" ?>
<SettingDef>
    <Window>
        <Height>600</Height>
        <Width>900</Width>
        <FontFamily>MS Gothic</FontFamily>
        <FontSize>12</FontSize>
    </Window>
    <DataGrid>
        <RowHeightPlus>12</RowHeightPlus>
    </DataGrid>
    <Initialize>Yes</Initialize>
    <Clone>
        <PriorTables>
            <Table>TAG_MASTER</Table>
            <Table>STRING_STORAGE</Table>
            <Table>BINARY_STORAGE</Table>
            <Table>STRING_TAGS</Table>
            <Table>BINARY_TAGS</Table>
        </PriorTables>
    </Clone>
    <Language>English</Language>
    <Localization>
        <Japanese>
            <PageName>
                <FileBrowse>データベースを開く</FileBrowse>
                <TableList>テーブル一覧</TableList>
                <QueryStringInput>SQL 実行</QueryStringInput>
                <QueryResultViewList>問い合わせ結果</QueryResultViewList>
                <StringStorage>文字列データ格納庫</StringStorage>
                <BinaryStorage>バイナリデータ格納庫</BinaryStorage>
                <TagMaster>タグ</TagMaster>
                <Clone>データベースのクローン</Clone>
                <RunningInformations>Informations</RunningInformations>
            </PageName>
            <FileBrowse>
                <PasswordInput>パスワード</PasswordInput>
                <BrowseButton>データベースを開く</BrowseButton>
                <NewFileButton>新規データベースの作成</NewFileButton>
                <FilePathOutput>開いているデータベース</FilePathOutput>
            </FileBrowse>
            <OFWindow>
                <OpenDatabaseTitle>開くデータベースファイルを選択</OpenDatabaseTitle>
                <NewDatabaseTitle>新規作成データベースファイルパスを入力</NewDatabaseTitle>
                <OpenDatabaseButton>開く</OpenDatabaseButton>
                <NewDatabaseButton>新規作成</NewDatabaseButton>
                <FileNameColumn>パス</FileNameColumn>
                <CloneDatabaseTitle>データベースクローン先のパス</CloneDatabaseTitle>
                <OverwriteDialogTitle>上書き確認</OverwriteDialogTitle>
                <OverwriteMessage>作成しようとしているファイルは既に存在します。\n上書きしますか？</OverwriteMessage>
                <SelectFileTitle>格納するファイルを選択</SelectFileTitle>
                <RetrieveFileTitle>ファイル展開先のパスを入力</RetrieveFileTitle>
                <SelectPathButton>選択</SelectPathButton>
                <SaveFileButton>ファイル展開</SaveFileButton>
            </OFWindow>
            <TableList>
                <ReloadButton>リロード</ReloadButton>
                <TableNameColumn>テーブル名</TableNameColumn>
            </TableList>
            <QueryStringInput>
                <ExecuteButton>クエリ実行</ExecuteButton>
                <BeginButton>トランザクション開始</BeginButton>
                <CommitButton>コミット</CommitButton>
                <RollbackButton>ロールバック</RollbackButton>
            </QueryStringInput>
            <StringStorage>
                <KeyInput>キー</KeyInput>
                <TagInput>タグ</TagInput>
                <SearchButton>検索</SearchButton>
            </StringStorage>
            <StringCard>
                <Key>キー</Key>
                <Value>値</Value>
                <TagInputList>タグ</TagInputList>
                <RegisterButton>登録</RegisterButton>
            </StringCard>
            <BinaryStorage>
                <KeyInput>キー</KeyInput>
                <TagInput>タグ</TagInput>
                <SearchButton>検索</SearchButton>
            </BinaryStorage>
            <BinaryCard>
                <Key>キー</Key>
                <FileNameOutput>ファイル名</FileNameOutput>
                <TagInputList>タグ</TagInputList>
                <RetrieveFileButton>ファイルを展開</RetrieveFileButton>
                <SelectFileButton>データベースへ格納するファイルを選択</SelectFileButton>
                <RegisterButton>登録</RegisterButton>
            </BinaryCard>
            <TagMaster>
                <TagInput>タグ</TagInput>
                <SearchButton>検索</SearchButton>
            </TagMaster>
            <TagCard>
                <TagInput>タグ</TagInput>
                <RegisterButton>登録</RegisterButton>
            </TagCard>
            <Clone>
                <PasswordInput>クローン先データベースのパスワード</PasswordInput>
                <SelectFileButton>クローン先データベース作成パスを選択</SelectFileButton>
                <RunButton>クローン開始</RunButton>
                <FilePathOutput>データベースのクローン先</FilePathOutput>
            </Clone>
        </Japanese>
        <English>
            <PageName>
                <FileBrowse>Open database file</FileBrowse>
                <TableList>Tables in database file</TableList>
                <QueryStringInput>Execute any SQL queries</QueryStringInput>
                <QueryResultViewList>Result for select statement</QueryResultViewList>
                <StringStorage>Storage for string datas</StringStorage>
                <BinaryStorage>Storage for binary datas</BinaryStorage>
                <TagMaster>User tags</TagMaster>
                <Clone>Clone / Change password for existing database file</Clone>
                <RunningInformations>Informations</RunningInformations>
            </PageName>
            <FileBrowse>
                <PasswordInput>Password for open the database file</PasswordInput>
                <BrowseButton>Open database file</BrowseButton>
                <NewFileButton>Create new database file with password</NewFileButton>
                <FilePathOutput>You are opening ...</FilePathOutput>
            </FileBrowse>
            <OFWindow>
                <OpenDatabaseTitle>Select database file for open</OpenDatabaseTitle>
                <NewDatabaseTitle>Enter path to create new database file</NewDatabaseTitle>
                <OpenDatabaseButton>Open the database file</OpenDatabaseButton>
                <NewDatabaseButton>Create new database file</NewDatabaseButton>
                <FileNameColumn>File path</FileNameColumn>
                <CloneDatabaseTitle>Enter path to create clone database file</CloneDatabaseTitle>
                <OverwriteDialogTitle>Confirm for overwriting</OverwriteDialogTitle>
                <OverwriteMessage>Selected file is existing in filesystem.\nAre you sure for overwrite with new one ?</OverwriteMessage>
                <SelectFileTitle>Select file to put into database</SelectFileTitle>
                <RetrieveFileTitle>Enter path to put the file been take out from database</RetrieveFileTitle>
                <SelectPathButton>Open</SelectPathButton>
                <SaveFileButton>Save</SaveFileButton>
            </OFWindow>
            <TableList>
                <ReloadButton>Reload the list</ReloadButton>
                <TableNameColumn>Table name</TableNameColumn>
            </TableList>
            <QueryStringInput>
                <ExecuteButton>Execute the query</ExecuteButton>
                <BeginButton>Begin the transaction</BeginButton>
                <CommitButton>Commit</CommitButton>
                <RollbackButton>Rollback</RollbackButton>
            </QueryStringInput>
            <StringStorage>
                <KeyInput>Key for value</KeyInput>
                <TagInput>Tags</TagInput>
                <SearchButton>Search</SearchButton>
            </StringStorage>
            <StringCard>
                <Key>Key for value</Key>
                <Value>Value</Value>
                <TagInputList>Tags</TagInputList>
                <RegisterButton>Register</RegisterButton>
            </StringCard>
            <BinaryStorage>
                <KeyInput>Key for file</KeyInput>
                <TagInput>Tags</TagInput>
                <SearchButton>Search</SearchButton>
            </BinaryStorage>
            <BinaryCard>
                <Key>Key for file</Key>
                <FileNameOutput>File name</FileNameOutput>
                <TagInputList>Tags</TagInputList>
                <RetrieveFileButton>Take out the file into filesystem</RetrieveFileButton>
                <SelectFileButton>Select file for put into the database</SelectFileButton>
                <RegisterButton>Register</RegisterButton>
            </BinaryCard>
            <TagMaster>
                <TagInput>Tags</TagInput>
                <SearchButton>Search</SearchButton>
            </TagMaster>
            <TagCard>
                <TagInput>Tags</TagInput>
                <RegisterButton>Register</RegisterButton>
            </TagCard>
            <Clone>
                <PasswordInput>Password for clone database</PasswordInput>
                <SelectFileButton>Choose path for create clone database file</SelectFileButton>
                <RunButton>Start clone the database with new password</RunButton>
                <FilePathOutput>Clone database is created at ...</FilePathOutput>
            </Clone>
        </English>
    </Localization>
</SettingDef>