<?xml version="1.0" encoding="utf-8" ?>
<SettingDef>
    <Window>
        <Height>600</Height>
        <Width>900</Width>
        <FontFamily>MS Gothic</FontFamily>
        <FontSize>12</FontSize>
    </Window>
    <DataGrid>
        <RowHeightPlus>12</RowHeightPlus>
    </DataGrid>
    <Initialize>Yes</Initialize>
</SettingDef>